// .slide-intro {
//     swiper-slide {
//         height: 300px;
//         background-color: $primary;
//     }
// }

// main section ---------------------------

.maincover {
  height: 100vh;
  .inner {
    display: flex;
    height: 100%;
    gap: 20px;
  }
}
.cover-left,
.cover-right {
  width: 50%;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover-left {
  .tit-wrap {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img {
    display: block;
    width: 100%;
    min-width: 100%;
    height: 95%;
  }
  .tit-1 {
    height: 21%;
  }
  .tit-2 {
    height: 33%;
  }
  .tit-3 {
    height: 19%;
  }
  .tit-4 {
    height: 26%;
  }
}

.cover-right {
  .video {
    width: 100%;
    height: auto;
    iframe {
      width: 100%;
    }
  }
  .txt {
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    margin-top: 5px;
  }
  .sub-txt {
    font-size: 16px;
    margin-top: 5px;
    width: 70%;
  }
  button {
    width: 160px;
    height: 50px;
    border-radius: 50px;
    margin-top: 15px;
    background: $secondary;
    font-size: 18px;
    color: $white;
  }

  .banner {
    width: 100%;
    height: 70px;
    margin-top: 55px;
    background: #000;
    color: $white;
    padding: 10px;
  }
}

// side banner -------------------------

.banner-wrap {
  .side-banner {
    background-image: url(../../images/main/banner.svg);
    position: absolute;
    position: fixed;
    width: 200%;
    height: 50px;
    overflow: hidden;
    border: #000 1px solid;
  }
  .top {
    top: 0;
  }
  .right {
    top: 100%;
    left: -24px;
    transform: rotate(90deg);
  }
  .bottom {
    bottom: 0;
    left: -100%;
  }
  .left {
    // background: red;
    top: 0px;
    left: calc(-100vw + 40px);
    transform: rotate(-90deg);
  }
}
