// .slide-intro {
//     swiper-slide {
//         height: 300px;
//         background-color: $primary;
//     }
// }

// main section ---------------------------

.maincover {
  height: 100vh;
  .inner {
    display: flex;
    height: 100%;
    gap: 20px;
  }
}

.cover-left,
.cover-right {
  flex: 1;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tit-wrap {
  height: 100%;
}
img {
  // position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.tit1 {
  height: 16%;
}
.tit2 {
  height: 16%;
}
.tit3 {
  height: 16%;
}
.tit4 {
  height: 16%;
}
.tit5 {
  height: 16%;
}
.subtit {
  height: 20%;
}

.subtit1 {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.cover-right {
  .video {
    iframe {
      width: 100%;
      height: 30vh;
    }
  }
  .txt {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    margin-top: 5px;
  }
  .sub-txt {
    margin-top: 5px;
  }
  button {
    width: 160px;
    height: 50px;
    border-radius: 50px;
    margin-top: 15px;
    background: $secondary;
    font-size: 18px;
    color: $white;
  }

  .banner {
    width: 100%;
    height: 70px;
    margin-top: 55px;
    background: #000;
    color: $white;
    padding: 10px;
  }
}

// side banner -------------------------

.banner-wrap {
  .side-banner {
    background-image: url(../../images/main/banner.svg);
    position: absolute;
    position: fixed;
    width: 200%;
    height: 50px;
    overflow: hidden;
    border: #000 1px solid;
  }
  .top {
    top: 0;
  }
  .right {
    top: 100%;
    left: -24px;
    transform: rotate(90deg);
  }
  .bottom {
    bottom: 0;
    left: -100%;
  }
  .left {
    // background: red;
    top: 0px;
    left: calc(-100vw + 40px);
    transform: rotate(-90deg);
  }
}
