@charset "UTF-8";
.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LeferiPoint";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url(../font/Poppins-Light.woff) format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(../fonts/Poppins-Regular.woff) format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url(../fonts/Poppins-Medium.woff) format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url(../fonts/Poppins-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(../fonts/Poppins-Bold.woff) format("woff");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "LeferiPoint", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #202020;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner {
  margin: 0 auto;
  padding: 70px;
}

#header {
  height: 70px;
}

#main {
  flex-grow: 1;
}

#footer {
  height: 70px;
  background-color: #f5f5f5;
}

#logo {
  position: relative;
  z-index: 1100;
}
#logo a {
  display: flex;
  align-items: center;
  height: 70px;
}

#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#header .col-right {
  display: flex;
  flex-direction: row-reverse;
}
#header .util {
  display: none;
}
#header .util ul {
  display: flex;
}
#header .util a {
  display: flex;
  align-items: center;
  height: 70px;
}
#header .util .link-g {
  display: flex;
  align-items: center;
  height: 70px;
}
#header .util .link-g::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
#header .util .link-lang::before {
  content: "\f0ac";
}
#header .util .link-search::before {
  content: "\f002";
}
#header .util .link-my::before {
  content: "\f007";
}

#gnb {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  background-color: #fff;
  transition: all 0.3s;
}

.maincover {
  display: flex;
  gap: 20px;
}

.cover-left {
  width: 50%;
  text-align: center;
}
.cover-left p {
  font-weight: 700;
  line-height: 100%;
  margin-bottom: -5px;
}
.cover-left .tit1 {
  line-height: 120%;
  font-size: 92px;
}
.cover-left .tit2 {
  font-size: 122px;
}
.cover-left .tit3 {
  font-size: 167px;
  margin-bottom: -25px;
}
.cover-left .tit4 {
  font-size: 87px;
  margin-bottom: 5px;
}
.cover-left .tit5 {
  font-size: 161px;
}

.cover-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.cover-right .video iframe {
  width: 100%;
  height: 30vh;
}
.cover-right .txt {
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  margin-top: 5px;
}
.cover-right .sub-txt {
  margin-top: 5px;
}
.cover-right button {
  width: 160px;
  height: 50px;
  border-radius: 50px;
  margin-top: 15px;
  background: #fe668f;
  font-size: 18px;
  color: #fff;
}
.cover-right .banner {
  width: 100%;
  height: 70px;
  margin-top: 55px;
  background: #000;
  color: #fff;
  padding: 10px;
}

.banner-wrap .side-banner {
  background-image: url(../../images/main/banner.svg);
  position: absolute;
  position: fixed;
  width: 200%;
  height: 50px;
  overflow: hidden;
  border: #000 1px solid;
}
.banner-wrap .top {
  top: 0;
}
.banner-wrap .right {
  top: 100%;
  left: -30px;
  transform: rotate(90deg);
}
.banner-wrap .bottom {
  bottom: 0;
  left: -100%;
}
.banner-wrap .left {
  top: 0px;
  left: calc(-100vw + 45px);
  transform: rotate(-90deg);
}/*# sourceMappingURL=comm.css.map */